.main-content {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    background-color: #fff;
    color: blue;
    border-radius: 20px;
    
}

.blogpost {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}